body{
  background-color: #D4ACF1;
}

div.header-container{
  background-color: #9C5BCB;
  height: 12em;
  position: relative;
}
.img-title{
  position: absolute;
  display: table-call;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%,-50%);
}
.form-title{
  position: absolute;
  left: 80%;
  transform: translate(-50%,-50%);
}
div.profile-container{
  position: relative;
  margin-top: 0.5em;
  background-color: #BC85E3;
  border-radius: 12px;
  border: 2px solid;
  border-color: #9C5BCB;
  width: 40em;
  height 100em;
}
p.profile-text{
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-size: 12px;
}

input.top-bar-button{
    position: absolute;
    
}

div.thumbnail-profile{
  position: relative;
  background-color: #BC85E3;
  border-radius: 12px;
  border: 2px solid;
  border-color: #9C5BCB;
  width: 20em;
  height: 30em;
}

#button1 {
  left: 90%;
  top: 50%;
}


