body{
  background-color: #D4ACF1;
}

div.header-container{
  background-color: #9C5BCB;
  height: 12em;
  position: relative;
}
.img-title{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}
.form-title{
  position: absolute;
  left: 80%;
  transform: translate(-50%,-50%);
}
div.profile-container{
  position: relative;
  margin-top: 2em;
  background-color: #BC85E3;
  border-radius: 12px;
  border: 2px solid;
  border-color: #9C5BCB;
  width: 40em;
  height 100em;
}
