
  <h1> Login: </h1>
  {% if login is defined %}
    {% if login == 2 %}
      <pre>
        <p class="failed-login">
        Password is Wrong
        </p>
      </pre>
    {% endif%}
    {% if login == 3 %}
      <pre>
        <p class="failed-login">
        User Does Not Exist
        </p>
      </pre>
    {% endif%}
  {% endif %}
  
<pre>
<p class="main-text">
<form aciton="" method="post">
Username: <input type="text" name="username">
Password: <input type="password" name="password">
<input type="hidden" name="login" value="0">
<input type="submit" value="login">
</form> 
</p>
</pre>
  
  
  
